Repository 10up/ElasticPress, pull requests merged in 2022-11, with the labels that each got.

#3113 Fix encoded characters in term labels in Instant Results
  assets/js/instant-results/components/facets/taxonomy-terms-facet.js
Labels: module:instant-results

#3110 Fix Autosuggest bugs
  assets/js/autosuggest/back-compat.js
  assets/js/autosuggest/index.js
Labels: module:autosuggest

#2986 Add Comments block.
  assets/js/blocks/comments/Edit.js
  assets/js/blocks/comments/block.json
  assets/js/blocks/comments/index.js
  assets/js/blocks/comments/transforms.js
  assets/js/comments.js
  includes/classes/Feature/Comments/Comments.php
  includes/classes/Feature/Comments/Widget.php
  package.json
  tests/cypress/integration/features/comments.cy.js
  tests/cypress/support/commands.js
Labels: needs documentation, needs tests

#2976 Settings screen improvements
  images/logo-elasticpress-io.svg
  images/logo-icon.svg
  images/logo.svg
  images/warning.svg
  includes/classes/Upgrades.php
  includes/dashboard.php
  includes/partials/settings-page.php
  includes/utils.php
Labels: needs discussion

#3029 Adds support for searching shop_subscriptions #2867
  includes/classes/Feature/WooCommerce/WooCommerce.php
Labels: 3rd party
