Repository 10up/ElasticPress, pull requests merged in 2023-02, with the labels that each got.

#3175 Orders autosuggest foundations
  assets/css/woocommerce/admin/components/listbox.css
  assets/css/woocommerce/admin/components/shop-order.css
  assets/css/woocommerce/admin/orders.css
  assets/js/api-search/index.js
  assets/js/api-search/src/hooks.js
  assets/js/api-search/src/reducer.js
  assets/js/woocommerce/admin/orders/app/components/listbox.js
  assets/js/woocommerce/admin/orders/app/components/shop-order.js
  assets/js/woocommerce/admin/orders/app/index.js
  assets/js/woocommerce/admin/orders/config.js
  assets/js/woocommerce/admin/orders/hooks.js
  assets/js/woocommerce/admin/orders/index.js
  includes/classes/Feature/WooCommerce/Orders.php
  package.json
Labels: enhancement, front end, module:woocommerce

#3313 Add custom capability for managing ElasticPress
  elasticpress.php
  includes/classes/Feature/Search/Synonyms.php
  includes/classes/Feature/Search/Weighting.php
  includes/classes/Feature/SearchOrdering/SearchOrdering.php
  includes/classes/Upgrades.php
  includes/dashboard.php
  includes/utils.php
  tests/php/TestUtils.php
  tests/php/features/TestSearchOrdering.php
  tests/php/features/TestWeighting.php
  uninstall.php
Labels: new feature

#3162 Create a new ElasticPress.io page with client messages
  assets/css/status-report.css
  assets/js/status-report/components/reports.js
  assets/js/status-report/components/reports/report.js
  includes/classes/ElasticPressIo.php
  includes/classes/Screen/StatusReport.php
  includes/classes/StatusReport/ElasticPressIo.php
  includes/classes/StatusReport/Report.php
  tests/php/TestStatusReport.php
Labels: module:status-report
